.menuContainer {
  position: relative;
  width: auto;
  transition: top 1s ease-in-out;
}

.menuContainerTransition {
  top: -100px;
  transition: top 1s ease-in-out;
}

.fixedMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Outros estilos permanecem os mesmos */

.headerTop {
  background-color: #0275d8;
  color: white;
}

.scroller {
  display: inline-block;
  padding-left: 100%;
  animation: scroll 25s linear infinite;
}

.subHeaderTop {
  width: 100%;
  display: flex;
  align-items: center;
  height: 90px;
  justify-content: space-around;
  margin-right: 40px;
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.scroller span {
  display: inline-block;
  padding-right: 50px;
}

.mobileMenu {
  display: none;
}

@media screen and (max-width: 990px) {
  .subHeaderTop {
    background-color: blanchedalmond;
    width: 100vw;
    display: flex;
    align-items: center;
    height: auto;
    justify-content: space-evenly;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .menuContainer {
    display: none;
  }
  .searchItems {
    width: 100%;
    display: flex;
    align-self: center;
    justify-content: flex-end;
    margin: 0 20px;
  }
  .mobileMenu {
    width: 100%;
    height: 100px;
    background-color: white;
    display: flex;
    position: inherit;
    align-self: flex-end;
    border-bottom: 0.3px solid rgba(0, 0, 0, 0.232);
  }
  .contentMobilleMenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; /* Garante que o menu ocupe toda a largura da viewport */
    z-index: 9999;
  }
  .contentPlaceholder {
    height: 100px; /* Ajuste a altura conforme necessário para corresponder à altura do menu móvel */
  }
}
