.menuContainer {
  position: relative;
  width: auto;
}

.fixedMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: top 0.5s ease-out;
}

.mobileMenu {
  display: none;
}

@media screen and (max-width: 990px) {
  .subHeaderTop {
    background-color: blanchedalmond;
    width: 100vw;
    display: flex;
    align-items: center;
    height: auto;
    justify-content: space-evenly;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .menuContainer {
    display: none;
  }
  .searchItems {
    width: 100%;
    display: flex;
    align-self: center;
    justify-content: flex-end;
    margin: 0 20px;
  }
  .mobileMenu {
    width: 100%;
    height: 100px;
    background-color: white;
    display: flex;
    position: inherit;
    align-self: flex-end;
    border-bottom: 0.3px solid rgba(0, 0, 0, 0.232);
  }
  .contentMobilleMenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; /* Garante que o menu ocupe toda a largura da viewport */
    z-index: 9999;
  }
  .contentPlaceholder {
    height: 100px; /* Ajuste a altura conforme necessário para corresponder à altura do menu móvel */
  }
}
